.container { //container-fluid
    margin-top: 55px;
    .user-field-inner {
        min-width: 241px;
        .user-data {
            margin-top: -60px;
        }
        .mini-banner-wrapper {
            height: 133px;
            //background-image: url('../../assets/banner-img/banner-1.jpg');
            background-size: cover;
            background-position: (50% 40%);
        }
    }
    .user-profile-img-wrapper {
        width: 90px;
        height: 90px;
        background-size: cover;
        img {
            width: 150%;
            filter: brightness(0.9) !important;
        }
    }
    .socialmedia-wrap {
        a i {
            font-size: 20px;
            margin: 0px 5px;
        }
    }
    .statistics-wrap {
        .statistics {
            width: 100%;
        }
        .row {
            margin-left:0 !important;
        }
    }
}
.thumbnail {
    overflow: hidden;
    & img {
        width: 100%;
    }
}
.dashboard-config-icon {
    cursor: pointer;
}
.mis--servicios--wrap span.badge {
    background-color: #4d91ce!important;
    margin-right: 2px;
    margin-bottom: 2px;
}